.tail {
  width: 80px;
  height: 80px;
}

.head {
  width: 80px;
  height: 80px;
}
body {
  width: 100vw;
  height: 100vh;
}
.coin {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin: 50px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  color: #6f0404;
  text-align: center;
}

.image {
  display: grid;
  grid-template-columns: 0fr 0fr 0fr 0fr;
  justify-content: center;
}
